*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}
body::-webkit-scrollbar {
  width: 5px;               /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: #0d6efd;    /* color of the scroll thumb */
  border-radius: 10px;       /* roundness of the scroll thumb */
}
body{
  overflow-x: hidden;
}
.card-img{
  width: 50vw;
  height: 40vh;
  object-fit: cover;
  object-position: top;
}
.fade-in-text:hover {
  color: #0d6efd;
}
.intro-sentence{
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  position: absolute;
  left: 2vw;
  top: 50vh;
}
.intro-sentence span{
  font-size: 1.5rem;
  font-weight: normal;
}
.nav-bar-brand{
  color: #0d6efd;
  font-size: 2rem;
  font-weight: bolder;
}
.nav-items{
  font-weight: 600;
  color: black;
}
.img{
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  object-position: top;
}
.footer{
  height: 30vh;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon{
  font-size: 1.3rem;
}
.admin-main{
  background: linear-gradient(red);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-image{
  background: url('./assets/home-image4.jpg') no-repeat center;
  background-size: cover;
}
.bg-user-image{
  background: url('./assets/home-image.jpg') no-repeat center;
  background-size: cover;
}

@media only screen and (max-width: 576px) {
  .intro-sentence{
    font-size: 2rem;
    top: 35vh;
    left: 2vw;
  }
  .img{
    height: 70vh;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .intro-sentence{
    font-size: 2rem;
    top: 30vh;
    left: 2vw;
  }
  .img{
    height: 60vh;
  }
}

/* contact page */
.Contact{
  display:flex;
  margin:5px;
  justify-content: space-around;
  padding-top: 80px;
  color: rgb(13, 13, 14);
  

}


.Contact-box{
  width: 600px;
  border: none;
  padding: 20px;
  height: 500px;
  
  color: rgb(18, 18, 18);
  margin: 0 0px;
  border-radius: 25px;
  text-align: left;
 

 
}
.c-input{
  width: 450px;
  height: 50px;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 10px; 
  padding: 15px;
  outline: 1;
  outline-color: #0d6efd;
}
.c-inputt{
  width: 450px;
  height: 100px;
  padding: 5px 8px;
  border-radius: 15px;
  border: 1px solid black;
  margin: 10px;
  padding: 10px;
  outline: 1;
  outline-color: #0d6efd;
 
}

#gallery{
  width: 250px;
  height: 250px;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
}
#gallery:hover{
  scale: 1.05;
}

.about-img{
  width: 300px;
  height: 300px;
  object-fit: cover;
}
